<!DOCTYPE HTML>
<head>
<title>Products of Indian Groceries</title>
<link href="./CSS/overalTemplate.css" rel="stylesheet" media="all" type="text/css">
<link href="./CSS/products.css" rel="stylesheet" media="all" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

</head>

<body id="igBody">
	<div id="main">
		<nav id="main-nav">
			<a class="link-tag" href="./Welcome.html" target="">Home</a> <a class="link-tag" href="./products.html" target="">Products</a>
			<a class="link-tag" href="">New Buyer</a> <a class="link-tag" href="/placeOrder">Place
				Order</a> <a class="link-tag" href="/invoice">Invoice</a>
		</nav>
	<div id="product-container">
		<div ng-app="ProductManagement" ng-controller="ProductManagementController">
         <h1>
            List of Products
        </h1>
 
        <table>
            <tr>
                <th>Product ID</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
 
            <tr ng-repeat="product in products" orderBy="product.product_id">
                <td>{{ product.product_id }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td><a ng-click="editProduct(product)" class="button">Edit</a> | <a ng-click="removeProduct(product.product_id)" class="button">Remove</a></td>
            </tr>
 
        </table>
        
		<div id="newProduct">
			<h2>Add New Product</h2>
 
        <form ng-submit="submitProduct()">
            <table>
                <tr>
                    <td>Product Description</td>
                    <td><input type="text" ng-model="form.description" size="60" /></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><input type="text" ng-model="form.price" size="60" /></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit" value="Submit" >Add Product</button></td>
                </tr>
            </table>
        </form>
	</div>	
	</div>	
	</div>
</div>
<script src="./JS/products.js" type="text/javascript"></script>
</body>
