<div id="product-container" class="panel panel-primary">
    <div class="panel-heading">
      <h1>List of Products</h1>
    </div>
    <div class="panel-body">
      <table id="product-table" class="table table-striped">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products | async">
            <td>{{product.product_id}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td><button (click)="deleteProduct(product.product_id)" class="btn btn-danger">Delete</button>
                <button (click)="updateProduct(product.product_id)" class="btn btn-info" style="margin-left: 10px">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
   
    <div class="panel-body">
      <app-create-product></app-create-product>
    </div>
  </div>
