

		<!-- Slideshow container -->
		<div class="slideshow-container">
            <app-carousel [slides]="slides"></app-carousel>
          <!-- Full-width images with number and caption text -->
      </div>
  
      <br>

      <div id="about_us">
          <h1 id="greeting">Welcome to Indian Groceries</h1>
          <section id="about_section">
              <p>We always strive to provide our customers with best quality
              products. We have a wide range of variety of Spices, seeds and
              pulses available which are currently exported to few places in and
              around Vijayanagaram. Few places to which we export currently are
              <ul class="list">
                  <li>Vizianagaram</li>
                  <li>Visakhapatnam</li>
                  <li>Konada</li>
                  <li>Rajam</li>
                  <li>Hyderabad</li>
                  <li>Bangalore</li>
                  <li>Kerala</li>
              </ul>

              If you would like to know more details, feel free to <a class="nav-link"
                  href="/contact_us">Contact Us</a><p>
          </section>
      </div>
  
