#igBody{
	text-align:center;
	background:#D6E4F0;
	
}


/*
#163172
#1E56A0
#D6E4F0
#F6F6F6
#FFFFFF
*/

#main-nav{
	height:3rem;
	margin-top:0.5rem;
	
}

#main-nav > a{
	text-decoration:none;
	padding: 14px 25px;
	font:  small-caps bold 30px/50px Georgia, serif;
	color:#163172;
}

a:hover , #main-nav  a:hover{
	color: #fdc826 ;
}

h1 {
	color: #FFFFFF;
}

.form-div{
  margin:1rem;
  display:block;
  text-align:left;
}

#form-id{
  padding: 0.25rem 0;
 }
 
 input{
 	margin-top:8px;
 }

 table{
	border-style: outset;
	border-collapse: collapse;
	width:80%;
	border-color:#F6F6F6;
	
}

th {
	height: 37px;
	border: 1px solid #FFFFFF;	
	padding: 0 30px;
}


