@charset "ISO-8859-1";

#product-container {
	margin:35px;
	background-color: #1E56A0;;
	padding: 2rem;
	text-align: -webkit-center;
}



#product-table {
	border-style: outset;
	border-collapse: collapse;
	width:80%;
	border-color:#F6F6F6;
}

th {
	
	border: 1px solid #FFFFFF;
	padding: 0 30px;
}

td {
	padding: 0 20px;
}

.actions-class{
	text-align:center;
}

table{
	margin: 2.25rem;
}


#submit{
	margin : 5px 0 5px 48%;	
	font-size:18px;
}

#form-id {
    margin-left: -40px;
    width: 400px;
}
