#main{
	display:grid;
}


#about_us{
	margin-top:5rem;
	margin-left: 6rem;
	width:90%;
	height:450px;
	background-color:#1E56A0;
	max-width: 71rem;
}

#greeting{
	font-family: 'Sofia';
	font-size: 32px;
	color:#FFFFFF;
}

#about_section{
	font-family: 'Alice';
	font-size: 18px;
	padding:20px;
	color:#F6F6F6;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 200px;
    position:relative;
	left:1.5em;
	text-align:justify;
}

.link-tag{
	color:aquamarine;
}